<ion-header>
  <ion-toolbar>
    <ion-button slot="start" href="/home">
      <img src="/assets/svg/logo.svg" alt="CAR SCAN" width="110" />
    </ion-button>
    <ion-button slot="end">
      <img src="/assets/svg/logo-oreilly.svg" alt="Oreilly" width="60" />
    </ion-button>
  </ion-toolbar>
</ion-header>
<!-- content -->
<ion-content class="ion-padding">
  <!-- Scanning -->
  <ion-card class="app-modal text-center">
    <p class="font-size-26">Scanning ... </p>
    <p class="text-condensed font-size-32 mb-4">Please DO NOT unplug your device </p>
    <ion-progress-bar value="0.5" stream="buffer" class="app-progress-bar w-90 mx-auto" color="warning"></ion-progress-bar>
  </ion-card>
  <!-- Submitting -->
  <ion-card class="app-modal text-center">
    <p class="font-size-26 mb-4">Submitting ... </p>
    <ion-icon src="/assets/svg/icon_sending.svg" class="font-size-80 app-rotate"></ion-icon>
  </ion-card>
  <!--  none bg -->
  <div class="text-center">
    <p class="font-size-26 mb-4">Submitting ... </p>
    <ion-icon src="/assets/svg/icon_sending.svg" class="font-size-80 app-rotate"></ion-icon>
  </div>
  <!-- Email Field Box Screen -->
  <ion-card class="app-modal text-center">
    <p class="mb-4 text-left">Enter your Email and press Send to receive a copy of your Vehicle Health Report. </p>
    <ion-grid class="px-4 pb-0">
      <ion-row class="mb-2">
        <ion-col>
          <ion-input class="app-input" placeholder="Email" type="email"></ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6">
          <ion-button class="app-input bg-02" expand="full">CANCEL</ion-button>
        </ion-col>
        <ion-col size="6">
          <ion-button class="app-input bg-03 ml-2" expand="full" disabled="true">send</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
  <!-- Input email -->
  <ion-card class="app-modal text-center">
    <p class="mb-4 text-left">Enter your Email and press Send to receive a copy of your Vehicle Health Report. </p>
    <ion-grid class="px-4 pb-0">
      <ion-row class="mb-2">
        <ion-col>
          <ion-input class="app-input" placeholder="Email" type="email" value="customer@innova.com"></ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6">
          <ion-button class="app-input bg-02" expand="full">CANCEL</ion-button>
        </ion-col>
        <ion-col size="6">
          <ion-button class="app-input bg-03 ml-2" expand="full">SEND</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
  <!-- Uploading Email Screen -->
  <ion-card class="app-modal text-center">
    <p class="mb-4 pb-2 text-left">Enter your Email and press Send to receive a copy of your Vehicle Health Report. </p>
    <ion-grid class="px-4 pb-0">
      <ion-row class="mb-2">
        <ion-col>
          <ion-input class="app-input" placeholder="Email" type="email" value="customer@innova.com"></ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <p>Sendding...</p>
          <ion-icon src="/assets/svg/icon_sending.svg" class="font-size-80 app-rotate"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
  <!-- Report Sent Confirmation Screen -->
  <ion-card class="app-modal text-center">
    <h2 class="mb-3">Confirmation</h2>
    <p class="mb-3">
      <ion-icon src="/assets/svg/icon_success.svg" class="font-size-80"></ion-icon>
    </p>
    <p class="mb-3">Your Report has been sent. </p>
    <ion-button class="app-input bg-03 w-40">CLOSE</ion-button>
  </ion-card>
  <!-- Phone Number Field Screen -->
  <ion-card class="app-modal text-center">
    <p class="mb-4 text-left">Enter your Phone Number and press Send to receive a copy of your Vehicle Health Report.</p>
    <ion-grid class="px-4 pb-0">
      <ion-row class="mb-2">
        <ion-col>
          <ion-input class="app-input" placeholder="Phone Number"></ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6">
          <ion-button class="app-input bg-02" expand="full">CANCEL</ion-button>
        </ion-col>
        <ion-col size="6">
          <ion-button class="app-input bg-03 ml-2" disabled="true" expand="full">send</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
  <!-- Keyboard for Phone Entry Screen -->
  <ion-card class="app-modal text-center">
    <p class="mb-4 text-left">Enter your Phone Number and press Send to receive a copy of your Vehicle Health Report.</p>
    <ion-grid class="px-4 pb-0">
      <ion-row class="mb-2">
        <ion-col>
          <ion-input class="app-input" placeholder="Phone Number" value="714-241-6800"></ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6">
          <ion-button class="app-input bg-02" expand="full">CANCEL</ion-button>
        </ion-col>
        <ion-col size="6">
          <ion-button class="app-input bg-03 ml-2" expand="full">SEND</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
  <!-- Uploading Phone Number Screen -->
  <ion-card class="app-modal text-center">
    <p class="mb-4 text-left">Enter your Phone Number and press Send to receive a copy of your Vehicle Health Report.</p>
    <ion-grid class="px-4 pb-0">
      <ion-row class="mb-2">
        <ion-col>
          <ion-input class="app-input" placeholder="Phone Number" value="714-241-6800"></ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <p>Sendding...</p>
          <ion-icon src="/assets/svg/icon_sending.svg" class="font-size-80 app-rotate"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
  <!-- Enter VIN -->
  <ion-card class="app-modal">
    <ion-input class="app-input" placeholder="VIN"></ion-input>
  </ion-card>
  <!-- Enter VIN -->
  <ion-card class="app-modal">
    <ion-input class="app-input bg-primary" placeholder="VIN"></ion-input>
  </ion-card>
  <!-- Please provide your Vehicle information -->
  <h6 class="text-center mb-3 pt-4">Congratulations, your vehicle inspection was successful! We just need a little more information to generate your report.</h6>
  <h6 class="text-center mb-3">Please provide your vehicle information below</h6>
  <ion-card class="app-card text-center">
    <ion-card-content>
      <h4 class="mb-3">Please select your Vehicle</h4>
      <div class="w-80 mx-auto">
        <p class="mb-3">
          <!-- option 1 -->
          <ion-select placeholder="SELECT YEAR" interface="action-sheet" class="app-select app-input">
            <ion-select-option value="2021">2021</ion-select-option>
            <ion-select-option value="2020">2020</ion-select-option>
          </ion-select>
        </p>
        <p class="mb-3">
          <ion-select placeholder="SELECT MAKE" interface="action-sheet" class="app-select app-input app-color-01">
            <ion-select-option value="Lorem ipsum 1">Lorem ipsum 1</ion-select-option>
          </ion-select>
        </p>
        <p class="b-0">
          <ion-select placeholder="SELECT MODAL" interface="action-sheet" class="app-select app-input app-color-01">
            <ion-select-option value="Lorem ipsum 1">Lorem ipsum 1</ion-select-option>
            <ion-select-option value="Lorem ipsum 2">Lorem ipsum 2</ion-select-option>
          </ion-select>
        </p>
      </div>
    </ion-card-content>
  </ion-card>
  <p class="text-center text-condensed my-3 font-size-26">OR</p>
  <!--  -->
  <ion-card class="app-card mb-4">
    <ion-card-content class="text-center py-3">
      <h4 class="mb-3">Enter your Vehicle's VIN</h4>
      <div class="w-80 mx-auto">
        <p>
          <ion-button class="app-input d-block bg-02 mb-3">NEED HELP FINDING YOUR VIN?</ion-button>
        </p>
        <ion-input class="app-input bg-primary" placeholder="VIN"></ion-input>
      </div>
    </ion-card-content>
  </ion-card> <!--  -->
  <div class="text-center">
    <div class="w-80 mx-auto px-4">
      <p>
        <ion-button class="app-input d-block bg-02 mb-3">NEED HELD FINDING YOUR VIN?</ion-button>
      </p>
      <!-- Show error -->
      <p class="text-danger mb-3 text-thin font-size-14">Please provide your vehicle information</p>
      <!-- End Show error -->
      <div class="d-flex justify-content-between">
        <ion-button class="app-input d-block bg-03 w-50 mr-3" href="./home">CANCEL</ion-button>
        <ion-button class="app-input d-block bg-02 w-50">CONTINUE</ion-button>
      </div>
    </div>
  </div>
</ion-content>
<ion-footer class="ion-no-border">
  <ion-toolbar>
    <div class="d-flex align-items-center justify-content-between">
      <div class="d-flex align-items-center">
        <ion-select placeholder="English" cancel-text="Cancel" interface="action-sheet" class="app-select app-lang app-input" value="English">
          <ion-select-option value="English">English</ion-select-option>
          <ion-select-option value="Vn">Vn</ion-select-option>
        </ion-select>
        <span class="ml-2 app-font-small">Build XXXX Copyright ©2021 IEC. All Rights Reserved</span>
      </div>
      <span class="ion-text-end pl-1 app-font-small"> INNOVA Technical Center. Need help, call 1–800-544-4124 </span>
    </div>
  </ion-toolbar>
</ion-footer>
