<ion-header>
  <ion-toolbar>
    <ion-button slot="start" href="/home">
      <img src="/assets/svg/logo.svg" alt="CAR SCAN" width="110" />
    </ion-button>
    <ion-button slot="end">
      <img src="/assets/svg/logo-oreilly.svg" alt="Oreilly" width="60" />
    </ion-button>
  </ion-toolbar>
</ion-header>
<!-- content -->
<ion-content class="ion-padding">
  <h6 class="text-center mb-3 pt-4"> Congratulations, your vehicle inspection was successful! </h6>
  <h6 class="text-center mb-3"> Please confirm your vehicle infomation to obtain your <br>Vehicle Helth Report</h6>
  <ion-card class="app-card mb-3">
    <ion-card-content>
      <ion-grid class="font-size-24 text-medium">
        <ion-row>
          <ion-col size="4"> VIN: </ion-col>
          <ion-col size="8">1FAHP34N27W339622 </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="4"> Year: </ion-col>
          <ion-col size="8" class="text-thin"> 2007 </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="4"> Make: </ion-col>
          <ion-col size="8" class="text-thin text-uppercase"> ford </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="4"> Model: </ion-col>
          <ion-col size="8" class="text-thin text-uppercase"> focus </ion-col>
        </ion-row>
        <ion-row class="mb-4">
          <ion-col size="4">Engine Type:</ion-col>
          <ion-col size="8" class="text-thin text-uppercase"> L4, 2.0L; dohc </ion-col>
        </ion-row>
        <ion-row class="justify-content-center">
          <ion-col size="9">
            <ion-input class="app-input app-color-place" placeholder="PLEASE ENTER YOUR CURRENT MILEAGE"></ion-input>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
  <ion-grid>
    <ion-row class="justify-content-center mb-2">
      <ion-col size="8">
        <ion-button class="app-input bg-02" expand="full" href="./report">YES</ion-button>
      </ion-col>
    </ion-row>
    <ion-row class="justify-content-center">
      <ion-col size="8">
        <ion-button class="app-input bg-03" expand="full">No</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer class="ion-no-border">
  <ion-toolbar>
    <div class="d-flex align-items-center justify-content-between">
      <div class="d-flex align-items-center">
        <ion-select placeholder="English" cancel-text="Cancel" interface="action-sheet" class="app-select app-lang app-input" value="English">
          <ion-select-option value="English">English</ion-select-option>
          <ion-select-option value="Vn">Vn</ion-select-option>
        </ion-select>
        <span class="ml-2 app-font-small">Build XXXX Copyright ©2021 IEC. All Rights Reserved</span>
      </div>
      <span class="ion-text-end pl-1 app-font-small"> INNOVA Technical Center. Need help, call 1–800-544-4124 </span>
    </div>
  </ion-toolbar>
</ion-footer>
