<ion-header>
  <ion-toolbar>
    <ion-button>
      <img src="/assets/svg/logo.svg" alt="CAR SCAN" width="110" />
    </ion-button>
    <ion-button slot="end">
      <img src="/assets/svg/logo-oreilly.svg" alt="Oreilly" width="60" />
    </ion-button>
  </ion-toolbar>
</ion-header>
<!-- content -->
<ion-content class="ion-padding">
  <form class="h-100 d-flex align-items-center justify-content-center">
    <div class="w-sm-70 text-center">
      <p class="mb-5 text-thin font-size-26">By Select “<span class="text-uppercase text-condensed">agree</span>” you agree to the <br>
        <a href="/terms-use-hyperlink" class="text-white text-regular app-underline">Terms of Use</a> and <a href="/privacy-policy-hyperlink" class="text-white text-regular app-underline">Privacy Policy</a>
      </p>
      <ion-button class="app-input bg-02" expand="full" href="/verify-vehicle">ARGEE</ion-button>
    </div>
  </form>
</ion-content>
<ion-footer class="ion-no-border">
  <ion-toolbar>
    <div class="d-flex align-items-center justify-content-between">
      <div class="d-flex align-items-center">
        <ion-select placeholder="English" cancel-text="Cancel" interface="action-sheet" class="app-select app-lang app-input" value="English">
          <ion-select-option value="English">English</ion-select-option>
          <ion-select-option value="Vn">Vn</ion-select-option>
        </ion-select>
        <span class="ml-2 app-font-small">Build XXXX Copyright ©2021 IEC. All Rights Reserved</span>
      </div>
      <span class="ion-text-end pl-1 app-font-small"> INNOVA Technical Center. Need help, call 1–800-544-4124 </span>
    </div>
  </ion-toolbar>
</ion-footer>
