<ion-header>
  <ion-toolbar>
    <ion-button>
      <img src="/assets/svg/logo.svg" alt="CAR SCAN" width="110" />
    </ion-button>
    <ion-button slot="end">
      <img src="/assets/svg/logo-oreilly.svg" alt="Oreilly" width="60" />
    </ion-button>
  </ion-toolbar>
</ion-header>
<!-- content -->
<ion-content class="ion-padding">
  <ion-card class="app-card mb-3 text-center">
    <h1 class="mb-2">Check Engine Light On? <br>
      <span class="app-icon-findout">Find Out Why</span>
    </h1>
    <p class="d-flex align-items-end justify-content-center">
      <span class="text-condensed pr-3 font-size-24">How to Use</span>
      <img class="mr-9" src="/assets/img/home_img01.jpg" alt="video" />
    </p>
  </ion-card>
  <p class="mb-3">
    <ion-button class="bg-warning app-input font-myriadpro-bold text-capitalize font-size-38" expand="full" href="/agree-terms-privacy-policy">Start Here</ion-button>
  </p>
  <ion-card class="app-card">
    <ion-card-content class="py-0">
      <img src="/assets/svg/home_step.svg" alt="Step" />
    </ion-card-content>
  </ion-card>
  <ion-row>
    <ion-col size="3">
      <ion-button class="app-input bg-02" expand="full" href="/what-do-i-get">
        <ion-label class="app-ico app-icon-pin">WHAT DO <br>I GET</ion-label>
      </ion-button>
    </ion-col>
    <ion-col size="3">
      <ion-button class="app-input bg-02" expand="full" href="#">
        <ion-label class="app-ico app-icon-map">FIND A <br> REPAIR SHOP</ion-label>
      </ion-button>
    </ion-col>
    <ion-col size="3">
      <ion-button class="app-input bg-03" expand="full" href="/dlc-location">
        <ion-label class="app-ico app-icon-icon01">DLC <br>LOCATOR</ion-label>
      </ion-button>
    </ion-col>
    <ion-col size="3">
      <ion-button class="app-input bg-03" expand="full" href="/vin-locator">
        <ion-label class="app-ico app-icon-code">VIN<br>LOCATOR</ion-label>
      </ion-button>
    </ion-col>
  </ion-row>
</ion-content>
<!-- footer -->
<ion-footer class="ion-no-border">
  <ion-toolbar>
    <div class="d-flex align-items-center justify-content-between">
      <div class="d-flex align-items-center">
        <ion-select placeholder="English" cancel-text="Cancel" interface="action-sheet" class="app-select app-lang app-input" value="English">
          <ion-select-option value="English">English</ion-select-option>
          <ion-select-option value="Vn">Vn</ion-select-option>
        </ion-select>
        <span class="ml-2 app-font-small">Build XXXX Copyright ©2021 IEC. All Rights Reserved</span>
      </div>
      <span class="ion-text-end pl-1 app-font-small"> INNOVA Technical Center. Need help, call 1–800-544-4124 </span>
    </div>
  </ion-toolbar>
</ion-footer>
